.leftPart {
  background: rgb(252, 203, 5);
  background: linear-gradient(
    100deg,
    rgba(252, 203, 5, 1) 0%,
    rgba(252, 203, 5, 1) 83%,
    rgba(255, 255, 255, 1) 83%
  );
}
.header1 {
  font-family: Be Vietnam Pro;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.005em;
}
.header2 {
  font-family: Be Vietnam Pro;
  font-size: 28px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0.005em;
}
